<div class="container py-5">
  <div class="row">
    <div class="col-8 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">修改此筆支出</h5>
          <small class="text-muted form-text">＊為必填欄位</small>
          <hr>
          <form action="/records/{{ record._id }}" method="POST">
            <div class="row mb-3 g-2">
              <label for="name" class="col-md-2">內容＊：</label>
              <input type="text" placeholder="例如：午餐吃麥當勞" name="name" id="name" style="width: 300px;" required value="{{record.name}}">
            </div>

            <div class="row mb-3 g-2">
              <label for="date" class="col-md-2">
                日期＊：
              </label>
              <input type="date" name="date" id="date" style="width: 300px;" required value="{{record.date}}">
            </div>

            <div class="row mb-3 g-2">
              <label for="amount" class="col-md-2">
                金額＊：
              </label>
              <input class="input-group" type="number" name="amount" id="amount" min="0" style="width: 300px;" required
                value="{{record.amount}}">
            </div>

            <div class="row mb-3">
              <label for="category" class="col-md-2">
                類別＊：
              </label>
              <select class="form-select col-md-6" name="category" id="category"
                aria-label="Example select with button addon" style="width: 300px;" required>
                <option selected value="{{record.category}}">{{category.name}}</option>
                {{#each categories}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-center">
              <button id="submitButton" class="btn btn-success" type="submit">儲存</button>
              <a class="btn btn-secondary" role="button" href="/">取消</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>