<a href="./records/new">新增支出</a>
{{#each records}}
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{this.category}}</li>
    <li class="list-group-item">{{this.name}}</li>
    <li class="list-group-item">{{this.date}}</li>
    <li class="list-group-item">{{this.amount}}</li>
    <a href="./records/{{ this._id }}/edit">修改</a>
    <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">刪除</button>
    </form>
  </ul>
{{/each}}